/***************************************************************************************************************************************************************************************/

/*HTML5 BOILERPLATE MINIFIED*/

/***************************************************************************************************************************************************************************************/

*{box-sizing:border-box;}article{display:block}aside{display:block}details{display:block}figcaption{display:block}figure{display:block;margin:0}footer{display:block}header{display:block}hgroup{display:block}nav{display:block}section{display:block}audio{display:inline;}canvas{display:inline;}video{display:inline;}audio:not([controls]){display:none}[hidden]{display:none}html{color:#222;font-family:sans-serif;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}button{-webkit-appearance:button;color:#222;cursor:pointer;font-family:sans-serif;font-size:100%;line-height:normal;margin:0;overflow:visible;vertical-align:middle}input{color:#222;font-family:sans-serif;font-size:100%;line-height:normal;margin:0;vertical-align:middle}select{color:#222;font-family:sans-serif;font-size:100%;margin:0;vertical-align:middle}textarea{color:#222;font-family:sans-serif;font-size:100%;margin:0;overflow:auto;resize:vertical;vertical-align:top}body{font-size:1em;line-height:1.4;margin:0}::-moz-selection{background:#333;color:#fff;text-shadow:none}::selection{background:#333;color:#fff;text-shadow:none}a{color:#00e}a:hover{color:#06e;outline:0}a:active{outline:0}abbr[title]{border-bottom:1px dotted}b{font-weight:700}strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:700}pre{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;white-space:pre-wrap;word-wrap:break-word}code{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}kbd{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}q{quotes:none}q:before{content:none}q:after{content:none}small{font-size:85%}sub{bottom:-.25em;font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{font-size:75%;line-height:0;position:relative;top:-.5em;vertical-align:baseline}ul{margin:1em 0;padding:0 0 0 40px}ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul{list-style:none;list-style-image:none;margin:0;padding:0}nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;margin-left:-7px;padding:0;white-space:normal}input[type="button"]{-webkit-appearance:button;cursor:pointer;overflow:visible}input[type="reset"]{-webkit-appearance:button;cursor:pointer;overflow:visible}input[type="submit"]{-webkit-appearance:button;cursor:pointer;overflow:visible}button[disabled]{cursor:default}input[disabled]{cursor:default}input[type="checkbox"]{box-sizing:border-box;height:13px;padding:0;width:13px}input[type="radio"]{box-sizing:border-box;height:13px;padding:0;width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner{border:0;padding:0}input::-moz-focus-inner{border:0;padding:0}input:invalid{background-color:#f0dddd}textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}.chromeframe{background:#ccc;color:#000;margin:.2em 0;padding:.2em 0}

/***************************************************************************************************************************************************************************************/

/*BODY STYLES*/

/***************************************************************************************************************************************************************************************/

:root {
  	--white: #FFFFFF;
    --light-gray: #F2F2F2;
    --gray: #E5E5E5;
    --medium-gray: #b1b1b1;
    --dark-gray: #333333;
    --red: #FF0000;
    --black: #000000;
  	--body-font: 'IBM Plex Sans', sans-serif;
	--heading-font: 'Bebas Neue', sans-serif;
	--container-width: 90vw;
	--container-max-width: 1600px;
	--container-outer-padding: 50px;
	--container-outer-margin: calc((100vw - var(--container-width)) / 2);
	--viewport-edge: calc((var(--container-outer-margin) + var(--container-outer-padding)) * -1);
	--gap: 40px;
	--grid: repeat(12,1fr);
	--padding-xxs: 20px;
	--padding-xs: 30px;
	--padding-s: 40px;
	--padding-m: 60px;
	--padding-l: 80px;
	--padding-xl: 120px;
	--padding-xxl: 160px;
}

html {
    font-size: 100%;
}

body { 
	background: var(--off-white);
	color: var(--black);
	font: 1rem var(--body-font);
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a { 
	text-decoration: none;
	transition: all .25s ease;
}

a:hover {
    color: var(--black);
}

input[type=submit],
button {
	border-radius: 0;
	font-family: inherit;
	transition: all .25s ease;
}

img,
svg,
iframe,
picture {
	max-width: 100%;
}

img,
svg,
picture {
	height: auto;
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
	margin: 0;
}

.heading-xl {
    font: 700 calc(80rem / 16)/calc(90 / 80) var(--heading-font);
    letter-spacing: .8px;
}

h1,
.heading-1 {
	font: 700 calc(50rem / 16)/calc(62 / 50) var(--heading-font);
}

h2,
.heading-2 {
	font: 700 calc(40rem / 16)/calc(50 / 40) var(--heading-font);
    letter-spacing: .4px;
}

h3,
.heading-3 {
	font: 700 calc(32rem / 16)/calc(42 / 32) var(--heading-font);
}

h4,
.heading-4 {
    font: 400 calc(24rem / 16)/calc(24 / 24) var(--heading-font);
}

h5,
.heading-5 {
	font: 600 calc(24rem / 16)/calc(32 / 24) var(--body-font);
}

h6,
.heading-6 {
	/* font: 400 calc(24rem / 16)/calc(24 / 24) var(--heading-font); */
}

p,
ul,
ol {
	font-size: calc(16rem / 16);
    line-height: calc(26 / 16);
}

p.large,
ul.large,
ol.large {
    font-size: calc(18rem / 16);
    line-height: calc(28 / 18);
}

p.medium,
ul.medium,
ol.medium {
    font-weight: 500;
}

.eyebrow {
	display: block;
	font: 600 calc(14rem / 16)/calc(18 / 14) var(--body-font);
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

label {
    display: block;
    font: 500 calc(16rem / 16)/calc(26 / 16) var(--body-font);
    letter-spacing: .2px;
}

header, 
section, 
footer,
article {
	width: 100%;
}

.container {
	clear: both;
	margin: 0 auto; 
	max-width: var(--container-max-width);
	padding: 0 var(--container-outer-padding);
	position: relative;
	width: var(--container-width);
}

.container.unbounded {
    max-width: 100%;
    padding: 0 var(--gap);
    width: 100%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid {
	display: grid;
	gap: var(--gap);
	grid-template-columns: var(--grid);
}

.accessibility {
	backface-visibility: hidden;
	left: -999999999px;
	opacity: 0;
	position: absolute;
}

.image-zoom {
	overflow: hidden;
}

.image-zoom > img,
.image-zoom > picture {
	display: block;
	height: 100%;
	object-fit: cover;
	transition: all .25s ease;
	width: 100%;
}

.mobile-only {
	display: none !important;
}

/***Carousels***/

.carousel,
.slick-list,
.slide,
.slick-track {
	height: 100%;
}

.carousel {
	margin: 0 var(--viewport-edge);
	overflow: visible;
	padding: 0 calc(var(--container-outer-margin) + var(--container-outer-padding));
	position: relative;
	width: 100vw;
}

.slick-track {
	display: flex;
	gap: var(--gap);
}

/***Buttons***/

.btn {
    color: var(--black);
	display: inline-block;
    font-weight: 500;
}

.btn:hover {
	
}

/*Primary*/

.btn.primary {
	background: var(--black);
	border: 1px solid var(--black);
	color: var(--white);
	font: 600 calc(16rem / 16)/calc(20 / 16) var(--body-font);
	padding: 9px 15px 11px;
}

.btn.primary:hover {
	background: var(--dark-gray);
	border: 1px solid var(--dark-gray);
}

.btn.primary.light {
	background: var(--white);
	border: 1px solid var(--white);
	color: var(--blue-dark);
}

.btn.primary.light:hover {
	background: var(--blue-dark);
	border: 1px solid var(--blue-dark);
	color: var(--white);
}

/*Secondary*/

.btn.secondary {
	background: transparent;
	border: none;
	color: var(--black);
	font: 500 calc(16rem / 16)/calc(18 / 16) var(--body-font);
    padding: 0;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

.btn.secondary:hover {
	color: var(--black);
}

.btn.secondary.go-back::before {
    content: '←';
    display: inline-block;
    margin-right: 8px;
}

/***Form Styles***/

form {
	gap: var(--padding-xs);
	justify-content: flex-start;
}

form .form-input-wrapper {
	width: 100%;
}

form .form-input-wrapper label {
	display: block;
	margin-bottom: 6px;
}

form .form-input-wrapper input {
	width: 100%;
}

input[type=email],
input[type=text],
input[type=tel],
input[type=number],
input[type=password],
input[type=url],
select,
textarea {
	appearance: none;
	background: var(--white);
	border: 1px solid var(--medium-gray);
	outline: none;
	padding: 8px 12px;
    width: 100%;
}

input[type=email]:hover,
input[type=text]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=url]:hover,
select:hover,
textarea:hover {
	border-color: var(--dark-gray);
}

input[type=email]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
	border-color: var(--black);
	outline: none;
}

input[type=email]::placeholder,
input[type=text]::placeholder,
input[type=tel]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=url]::placeholder,
select::placeholder,
textarea::placeholder {
	opacity: 1;
}

/***************************************************************************************************************************************************************************************/

/*HEADER STYLES*/

/***************************************************************************************************************************************************************************************/

header {
    background: var(--light-gray);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .container > .btn {
    font-weight: 500;
}

header .flex {
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li + li {
    margin-left: 25px;
}

header .btn.nav {
    font-weight: 400;
}

/***************************************************************************************************************************************************************************************/

/*GENERAL STYLES*/

/***************************************************************************************************************************************************************************************/

main {
    padding-top: 80px;
}

/***************************************************************************************************************************************************************************************/

/*CAMPUSES STYLES*/

/***************************************************************************************************************************************************************************************/

h1 .count {
    font: 600 calc(20rem / 16)/calc(20 / 20) var(--body-font);
}

h2 .count {
    font: 600 calc(18rem / 16)/calc(18 / 18) var(--body-font);
}

h1 + .campus-list {
    margin-top: 48px;
}

.campus-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.campus-item {
    background: var(--light-gray);
    grid-column: span 4;
    padding: 30px;
}

.campus-item .image-wrapper {
    aspect-ratio: 16/9;
    display: block;
    margin: -30px -30px 22px;
    overflow: hidden;
}

.campus-item .image-wrapper img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.campus-item h3 {
    color: var(--black);
}

.campus-item p {
    margin: 0;
}

.campus-item .address {
    font-weight: 500;
    margin: 3px 0 10px;
}

.campus-item .description {
    margin-bottom: 18px;
}

.campus-item .description + .btn.secondary {
    margin: 0;
}

.campus-item .btn.secondary {
    margin: 20px 0 0;
}

.students-preview {
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: flex-start;
}

.students-preview ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.student-profile {
    width: auto;
}

.student-profile a {
    align-items: center;
    display: flex;
}

.student-profile a p {
    
}

.students-preview li + li {
    margin-left: -8px;
}

.student-profile .avatar {
    align-items: center;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    min-width: 30px;
    overflow: hidden;
    text-align: center;
    width: 30px;
}

.student-profile .avatar img {
    display: block;
    height: 30px;
    min-width: 30px;
    object-fit: cover;
    width: 30px;
}

.student-profile .avatar p {
    font-size: calc(12rem / 16);
    line-height: calc(12 / 12);
}

.student-profile .avatar + p {
    color: var(--black);
    font-weight: 500;
    margin: 0 0 0 6px;
}

.students-preview ul + p {
    font-weight: 500;
    margin-left: 8px;
}

/***************************************************************************************************************************************************************************************/

/*CAMPUS STYLES*/

/***************************************************************************************************************************************************************************************/

main.campus {
    padding-top: var(--gap);
}

.campus .image-wrapper {
    aspect-ratio: 4/3;
    grid-column: span 7;
    height: 100%;
    margin-right: calc(var(--viewport-edge) + var(--gap));
    overflow: hidden;
    width: calc(100% - var(--viewport-edge) - var(--gap));
}

.campus .image-wrapper img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.campus .content-wrapper {
    display: flex;
    flex-direction: column;
    grid-column: span 5;
    padding: 80px var(--gap) 200px 0;
    position: relative;
}

.campus .content-wrapper > p {
    margin: 0;
}

.campus .content-wrapper > p.medium {
    margin: 0 0 24px;
}

/***Students List***/

.students-list {
    background: var(--light-gray);
    height: 100%;
    margin: -120px 0 80px calc(var(--viewport-edge));
    padding: 80px 60px 80px calc(var(--viewport-edge) * -1);
}

.students-list h2 {
    margin-bottom: 40px;
}

.students-list ul {
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.students-list .student-profile {
    align-items: center;
    background: var(--gray);
    display: flex;
    flex-wrap: wrap;
    grid-column: span 4;
    padding: 20px;
}

.students-list .student-profile .avatar {
    border-color: transparent;
}

.students-list .student-profile > a {
    margin-bottom: 8px;
    width: 100%;
}

.students-list .student-profile .email {
    margin: 0;
    overflow-wrap: break-word;
}

.students-list .student-profile .gpa {
    margin: 0;
    padding-left: 10px;
}

.students-list .student-profile .actions {
    justify-content: flex-start;
    margin: 20px 0 0;
    width: 100%;
}

.students-list .student-profile .actions .btn.primary {
    justify-content: center;
    text-align: center;
}

.students-list .student-profile .edit + .delete {
    color: var(--red);
    margin-left: 15px;
}

.students-list .student-profile .edit {
    margin-left: auto;
}

.students-list ul:empty + .add-new-student {
    margin-top: -10px;
}

.students-list .add-new-student {
    align-items: center;
    justify-content: flex-start;
    margin: 40px 0 0;
}

.students-list .add-new-student p {
    margin: 0;
}

.students-list .add-new-student .btn.secondary {
    margin: 0 0 0 10px;
}

/***Quick Actions***/

.campus .quick-actions-campus {
    align-items: center;
    background: var(--black);
    bottom: 10px;
    margin: 0 10px;
    padding: 15px 30px;
    position: fixed;
    width: calc(100% - 20px);
}

.campus .quick-actions-campus p {
    color: var(--white);
    margin: 0 auto 0 0;
    position: relative;
    top: 2px;
}

.campus .quick-actions-campus .btn.secondary {
    color: var(--white);
}

.campus .quick-actions-campus .btn.secondary.delete {
    color: var(--red);
    margin-left: 25px;
}

.campus .quick-actions-campus .btn.secondary.go-back {
    color: var(--medium-gray);
    margin-right: 40px;
    text-decoration-color: transparent;
}

/***************************************************************************************************************************************************************************************/

/*NEW STUDENT AND CAMPUS STYLES*/

/***************************************************************************************************************************************************************************************/

.new-student h1,
.new-campus h1 {
    grid-column: 3 / span 8;
}

.main-form {
    background: var(--light-gray);
    gap: 30px;
    grid-column: 3 / span 8;
    margin: 0 0 100px;
    padding: 40px;
}

.main-form .form-input-wrapper {
    grid-column: -1 / 1;
}

.main-form .form-input-wrapper .required {
    font-size: 0;
}

.main-form .form-input-wrapper .required::after {
    color: var(--red);
    content: "*";
    font-size: 1rem;
    line-height: 1;
    margin-left: -2px;
}

.main-form .form-input-wrapper.error input {
    border-color: var(--red);
}

.main-form [type="submit"] {
    grid-column: -1 / 1;
    margin: 10px 0 0;
    width: fit-content;
}

#error-notices {
    background: var(--red);
    color: var(--white);
    grid-column: -1 / 1;
    padding: 15px 20px;
}

#error-notices:empty {
    display: none;
}

#error-notices div + div {
    margin-top: 4px;
}

/***************************************************************************************************************************************************************************************/

/*STUDENTS STYLES*/

/***************************************************************************************************************************************************************************************/

.all-students h1 {
    margin: 0 0 48px;
}

.all-students .grid {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.all-students > .grid + .btn.primary {
    margin: 50px 0 0;
}

.all-students .student-profile {
    background: var(--light-gray);
    grid-column: -1 / 1;
    padding: 25px 40px;
    align-items: center;
}

.all-students .student-profile a {
    grid-column: span 3;
}

.all-students .student-profile .avatar {
    height: 40px;
    width: 40px;
}

.all-students .student-profile .avatar p {
    font-size: calc(14rem / 16);
}

.all-students .student-profile .heading-5 {
    color: var(--black);
    font-weight: 600;
    margin-left: 10px;
    top: -1px;
    position: relative;
}

.all-students .student-profile .email {
    margin: 0;
    grid-column: span 3;
}

.all-students .student-profile .campus {
    grid-column: span 3;
}

.all-students .student-profile .campus .btn + .gpa {
    margin-top: 4px;
}

.all-students .student-profile .gpa {
    margin: 0;
}

.all-students .student-profile .actions {
    width: 100%;
    grid-column: span 3;
    justify-content: flex-end;
}

.all-students .student-profile .actions .primary {
    margin-right: 30px;
}

.all-students .student-profile .actions .edit + .delete {
    color: var(--red);
    margin-left: 15px;
}

/***************************************************************************************************************************************************************************************/

/*MQ MIN-WIDTH 1778 (1778 is when the container width is ~1600)*/

/***************************************************************************************************************************************************************************************/

@media only screen and (min-width: calc(1778rem/16)) {
	
	:root {
		--container-width: var(--container-max-width);
	}
	
}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 1400 - Smaller Desktop Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(1400rem/16)) {
	
	:root {
		--container-width: 100%;
		--container-outer-margin: 0px;
	}
	
}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 1200 - Smaller Desktop Sizes / Larger Tablet Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(1200rem/16)) {
	
	:root {
		--container-outer-padding: 40px;
	}
	
	/***Header***/

}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 950 - Tablet Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(950rem/16)) {
	
	.mobile-only {
		display: block !important;
	}
	
	.desktop-only {
		display: none !important;
	}

}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 650 - Mobile Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(650rem/16)) {
	
	:root {
		--container-outer-padding: 20px;
		--grid: 1fr;
	}
	
}

/***************************************************************************************************************************************************************************************/

/*ACCESSIBILITY REDUCE MOTIONS*/

/***************************************************************************************************************************************************************************************/

@media (prefers-reduced-motion: no-preference) {
	
	html {
		scroll-behavior: smooth;
		scroll-margin: -60px;
	}
	
	/***JazzyScroll Animations***/
	
	[data-jazzy-scroll] {
		pointer-events: none;
		transition-duration: .8s;
		transition-property: opacity, transform;
		transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	}
	
	[data-jazzy-scroll].animated-in {
		pointer-events: all;
	}

	/*All fade ins*/
	
	[data-jazzy-scroll*="fade-in"] {
		opacity: 0;
		transition-property: opacity;
	}
	
	[data-jazzy-scroll*="fade-in"].animated-in {
		opacity: 1;
	}

	/*Fade in up*/
	
	[data-jazzy-scroll="fade-in-up"] {
		position: relative;
		transform: translate3d(0, 60px, 0);
		transition-property: opacity, transform;
	}
	
	[data-jazzy-scroll="fade-in-up"].animated-in {
		transform: translate3d(0, 0, 0);
	}
	
	/***Zoom Images***/
	
	a:hover .image-zoom > img,
	a:hover .image-zoom > picture {
		transform: scale(1.05);
	}
	
}