/***************************************************************************************************************************************************************************************/

/*HTML5 BOILERPLATE MINIFIED*/

/***************************************************************************************************************************************************************************************/

*{box-sizing:border-box;}article{display:block}aside{display:block}details{display:block}figcaption{display:block}figure{display:block;margin:0}footer{display:block}header{display:block}hgroup{display:block}nav{display:block}section{display:block}audio{display:inline;}canvas{display:inline;}video{display:inline;}audio:not([controls]){display:none}[hidden]{display:none}html{color:#222;font-family:sans-serif;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}button{-webkit-appearance:button;color:#222;cursor:pointer;font-family:sans-serif;font-size:100%;line-height:normal;margin:0;overflow:visible;vertical-align:middle}input{color:#222;font-family:sans-serif;font-size:100%;line-height:normal;margin:0;vertical-align:middle}select{color:#222;font-family:sans-serif;font-size:100%;margin:0;vertical-align:middle}textarea{color:#222;font-family:sans-serif;font-size:100%;margin:0;overflow:auto;resize:vertical;vertical-align:top}body{font-size:1em;line-height:1.4;margin:0}::-moz-selection{background:#333;color:#fff;text-shadow:none}::selection{background:#333;color:#fff;text-shadow:none}a{color:#00e}a:hover{color:#06e;outline:0}a:active{outline:0}abbr[title]{border-bottom:1px dotted}b{font-weight:700}strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:700}pre{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;white-space:pre-wrap;word-wrap:break-word}code{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}kbd{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}q{quotes:none}q:before{content:none}q:after{content:none}small{font-size:85%}sub{bottom:-.25em;font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{font-size:75%;line-height:0;position:relative;top:-.5em;vertical-align:baseline}ul{margin:1em 0;padding:0 0 0 40px}ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul{list-style:none;list-style-image:none;margin:0;padding:0}nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;margin-left:-7px;padding:0;white-space:normal}input[type="button"]{-webkit-appearance:button;cursor:pointer;overflow:visible}input[type="reset"]{-webkit-appearance:button;cursor:pointer;overflow:visible}input[type="submit"]{-webkit-appearance:button;cursor:pointer;overflow:visible}button[disabled]{cursor:default}input[disabled]{cursor:default}input[type="checkbox"]{box-sizing:border-box;height:13px;padding:0;width:13px}input[type="radio"]{box-sizing:border-box;height:13px;padding:0;width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner{border:0;padding:0}input::-moz-focus-inner{border:0;padding:0}input:invalid{background-color:#f0dddd}textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}.chromeframe{background:#ccc;color:#000;margin:.2em 0;padding:.2em 0}

/***************************************************************************************************************************************************************************************/

/*BODY STYLES*/

/***************************************************************************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  	--white: #fff;
	--off-white: #f9faff;
  	--black: #091230;
	--blue: #274cc6;
	--blue-dark: #1a3b9a;
	--gray-light: #f2f2f2;
	--gray-medium: #e0e0e0;
	--gray-dark: #c4c4c4;
	--gray-darker: #a8a8a8;
  	--body-font: 'IBM Plex Sans', sans-serif;
	--heading-font: Arial, Helvetica, sans-serif;
    --mono-font: 'DM Mono', monospace;
	--container-width: 90vw;
	--container-max-width: 1600px;
	--container-outer-padding: 50px;
	--container-outer-margin: calc((100vw - var(--container-width)) / 2);
	--viewport-edge: calc((var(--container-outer-margin) + var(--container-outer-padding)) * -1);
	--gap: 40px;
	--grid: repeat(12,1fr);
	--padding-xxs: 20px;
	--padding-xs: 30px;
	--padding-s: 40px;
	--padding-m: 60px;
	--padding-l: 80px;
	--padding-xl: 120px;
	--padding-xxl: 160px;
	--shadow-s: 0 0 10px rgba(0,0,0,.1);
	--shadow-m: 0 8px 32px rgba(0,0,0,.1);
	--shadow-l: 0 0 30px rgba(0,0,0,.1);
}

html {
    font-size: 100%;
}

body { 
	background: var(--off-white);
	color: var(--black);
	font: 1rem var(--body-font);
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a { 
	text-decoration: none;
	transition: all .25s ease;
}

input[type=submit],
button {
	border-radius: 0;
	font-family: inherit;
	transition: all .25s ease;
}

img,
svg,
iframe,
picture {
	max-width: 100%;
}

img,
svg,
picture {
	height: auto;
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
	margin: 0;
}

h1,
.heading-1 {
	font: 700 calc(50rem / 16)/calc(62 / 50) var(--body-font);
}

h2,
.heading-2 {
	font: 700 calc(40rem / 16)/calc(50 / 40) var(--body-font);
}

h3,
.heading-3 {
	font: 700 calc(32rem / 16)/calc(42 / 32) var(--body-font);
}

h4,
.heading-4 {
	font: 600 calc(28rem / 16)/calc(38 / 28) var(--body-font);
}

h5,
.heading-5 {
	font: 700 calc(20rem / 16)/calc(28 / 20) var(--mono-font);
	letter-spacing: .8px;
}

h6,
.heading-6 {
	
}

p,
ul,
ol {
	
}

.eyebrow,
label {
	display: block;
	font: 600 calc(14rem / 16)/calc(18 / 14) var(--body-font);
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

header, 
section, 
footer,
article {
	width: 100%;
}

.container {
	clear: both;
	margin: 0 auto; 
	max-width: var(--container-max-width);
	padding: 0 var(--container-outer-padding);
	position: relative;
	width: var(--container-width);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid {
	display: grid;
	gap: var(--gap);
	grid-template-columns: var(--grid);
}

.accessibility {
	backface-visibility: hidden;
	left: -999999999px;
	opacity: 0;
	position: absolute;
}

.image-zoom {
	overflow: hidden;
}

.image-zoom > img,
.image-zoom > picture {
	display: block;
	height: 100%;
	object-fit: cover;
	transition: all .25s ease;
	width: 100%;
}

.mobile-only {
	display: none !important;
}

/***Carousels***/

.carousel,
.slick-list,
.slide,
.slick-track {
	height: 100%;
}

.carousel {
	margin: 0 var(--viewport-edge);
	overflow: visible;
	padding: 0 calc(var(--container-outer-margin) + var(--container-outer-padding));
	position: relative;
	width: 100vw;
}

.slick-track {
	display: flex;
	gap: var(--gap);
}

/***Buttons***/

.btn {
	display: inline-block;
}

.btn:hover {
	
}

/*Primary*/

.btn.primary {
	background: var(--blue);
	border: 1px solid var(--blue);
	border-radius: 4px;
	color: var(--white);
	font: 600 calc(14rem / 16)/calc(18 / 14) var(--mono-font);
	letter-spacing: .6px;
	padding: 10px 18px;
}

.btn.primary:hover {
	background: var(--blue-dark);
	border: 1px solid var(--blue-dark);
}

.btn.primary.light {
	background: var(--white);
	border: 1px solid var(--white);
	color: var(--blue-dark);
}

.btn.primary.light:hover {
	background: var(--blue-dark);
	border: 1px solid var(--blue-dark);
	color: var(--white);
}

/*Secondary*/

.btn.secondary {
	background: transparent;
	border: none;
	color: var(--blue);
	font: 600 calc(14rem / 16)/calc(18 / 14) var(--mono-font);
	letter-spacing: .6px;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 6px;
}

.btn.secondary:hover {
	color: var(--blue-dark);
}

/***Form Styles***/

form {
	gap: var(--padding-xs);
	justify-content: flex-start;
}

form .form-input-wrapper {
	width: 100%;
}

form .form-input-wrapper label {
	display: block;
	margin-bottom: 6px;
}

form .form-input-wrapper input {
	width: 100%;
}

input[type=email],
input[type=text],
input[type=tel],
input[type=number],
input[type=password],
select,
textarea {
	appearance: none;
	background: var(--white);
	border: 1px solid var(--gray-medium);
	border-radius: 4px;
	outline: none;
	padding: 8px 12px;
}

input[type=email]:hover,
input[type=text]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=password]:hover,
select:hover,
textarea:hover {
	border-color: var(--gray-dark);
}

input[type=email]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
	border-color: var(--blue);
	outline: none;
}

input[type=email]::placeholder,
input[type=text]::placeholder,
input[type=tel]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
select::placeholder,
textarea::placeholder {
	opacity: 1;
}

/***************************************************************************************************************************************************************************************/

/*MODULE STYLES*/

/***************************************************************************************************************************************************************************************/

.modules {
	align-items: flex-start;
	border: 1px solid var(--gray-medium);
	border-radius: 6px;
	padding: var(--padding-xxs);
}

.module {
	background: var(--white);
	border: 1px solid var(--gray-medium);
	border-radius: 4px;
	padding: var(--padding-xs) var(--padding-s) var(--padding-s);
}

.modules + .btn.secondary {
	margin: var(--padding-s) 0;
}

/***Page Title***/

.page-title {
	padding: var(--padding-xs) 0;
}

/***Account Balance***/

.account-balance {
	background: var(--blue-dark);
	border-radius: 4px;
	margin: 0 0 var(--padding-s);
	padding: var(--padding-xxs) var(--padding-s);
}

.account-balance ul {
	gap: var(--padding-m);
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

.account-balance p {
	margin: 0;
}

.account-balance li:last-child {
	margin-left: auto;
	text-align: right;
}

.account-balance .eyebrow {
	color: var(--gray-light);
}

.account-balance .amount {
	color: var(--white);
	margin-top: 6px;
}

/***************************************************************************************************************************************************************************************/

/*HOME STYLES*/

/***************************************************************************************************************************************************************************************/

.page-preview {
	grid-column: span 3;
	padding: var(--padding-xxs) var(--padding-xs) var(--padding-xs);
}

.page-preview p {
	margin: 8px 0 20px;
}

.page-preview.dark {
	background: var(--blue);
	color: var(--white);
}

.modules + .account-balance {
	margin: var(--padding-s) 0 0;
}

/***************************************************************************************************************************************************************************************/

/*USER PROFILE AND LOGIN STYLES*/

/***************************************************************************************************************************************************************************************/

.user-profile {
	grid-column: -1 / 1;
	padding-bottom: var(--padding-xs);
}

.user-profile ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-profile ul li {
	grid-column: span 4;
}

.user-profile .eyebrow {
	margin-bottom: 8px;
}

.user-profile form .form-input-wrapper {
	margin-bottom: 20px;
}

.user-profile form .form-input-wrapper:last-of-type {
	margin-bottom: 30px;
}

/***************************************************************************************************************************************************************************************/

/*DEBITS AND CREDITS STYLES*/

/***************************************************************************************************************************************************************************************/

.page-title + .account-balance {
	position: sticky;
	top: var(--padding-xxs);
}

/***Add Items***/

.add-item {
	grid-column: span 4;
}

.add-item h2 {
	margin-bottom: 20px;
}

.add-item form.grid {
	align-items: flex-end;
	gap: var(--padding-xxs);
	grid-template-columns: 1fr;
}

.add-item form.grid .btn.primary {
	margin-top: 10px;
}

/***View Items***/

.view-items {
	align-items: center;
	gap: 20px;
	grid-column: 5 / -1;
}

.view-items h2 {
	grid-column: span 6;
}

.view-items .sorting {
	align-items: center;
	gap: 10px;
	grid-column: span 6;
	justify-content: flex-end;
}

.view-items ul {
	background: var(--white);
	border: 1px solid var(--gray-medium);
	border-radius: 4px;
	grid-column: -1 / 1;
	list-style: none;
	margin: 0;
	padding: 10px var(--padding-xs);
}

.view-items li {
	border-bottom: 1px solid var(--gray-medium);
	padding: 10px 0;
}

.view-items li:last-child {
	border-bottom: none;
}

.view-items dl {
	display: grid;
	grid-auto-columns: 1fr;
    grid-auto-flow: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

.view-items dl dt {
	font-weight: bold;
	grid-row: 1;
}

.view-items dl dd {
	margin: 0;
}

/***************************************************************************************************************************************************************************************/

/*MQ MIN-WIDTH 1778 (1778 is when the container width is ~1600)*/

/***************************************************************************************************************************************************************************************/

@media only screen and (min-width: calc(1778rem/16)) {
	
	:root {
		--container-width: var(--container-max-width);
	}
	
}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 1400 - Smaller Desktop Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(1400rem/16)) {
	
	:root {
		--container-width: 100%;
		--container-outer-margin: 0px;
	}
	
}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 1200 - Smaller Desktop Sizes / Larger Tablet Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(1200rem/16)) {
	
	:root {
		--container-outer-padding: 40px;
	}
	
	/***Header***/

}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 950 - Tablet Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(950rem/16)) {
	
	.mobile-only {
		display: block !important;
	}
	
	.desktop-only {
		display: none !important;
	}

}

/***************************************************************************************************************************************************************************************/

/*MQ MAX-WIDTH 650 - Mobile Sizes*/

/***************************************************************************************************************************************************************************************/

@media only screen and (max-width: calc(650rem/16)) {
	
	:root {
		--container-outer-padding: 20px;
		--grid: 1fr;
	}
	
}

/***************************************************************************************************************************************************************************************/

/*ACCESSIBILITY REDUCE MOTIONS*/

/***************************************************************************************************************************************************************************************/

@media (prefers-reduced-motion: no-preference) {
	
	html {
		scroll-behavior: smooth;
		scroll-margin: -60px;
	}
	
	/***JazzyScroll Animations***/
	
	[data-jazzy-scroll] {
		pointer-events: none;
		transition-duration: .8s;
		transition-property: opacity, transform;
		transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	}
	
	[data-jazzy-scroll].animated-in {
		pointer-events: all;
	}

	/*All fade ins*/
	
	[data-jazzy-scroll*="fade-in"] {
		opacity: 0;
		transition-property: opacity;
	}
	
	[data-jazzy-scroll*="fade-in"].animated-in {
		opacity: 1;
	}

	/*Fade in up*/
	
	[data-jazzy-scroll="fade-in-up"] {
		position: relative;
		transform: translate3d(0, 60px, 0);
		transition-property: opacity, transform;
	}
	
	[data-jazzy-scroll="fade-in-up"].animated-in {
		transform: translate3d(0, 0, 0);
	}
	
	/***Zoom Images***/
	
	a:hover .image-zoom > img,
	a:hover .image-zoom > picture {
		transform: scale(1.05);
	}
	
}